@use "./GeneralInfo.scss";
@use "./MediaQueries.scss";
@use "./VariantSizes.scss";
@use "./VariantInfo.scss";

* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    color: #18181b;
}

form {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

input,
select,
option {
    width: 100%;
    font-size: 1.2rem;
    color: #18181b;
    font-weight: 450;
    padding: 0.8rem;
    border: 0.1rem solid #e4e4e7;
    border-radius: 0.5rem;
}

select {
    width: 100%;
}

p {
    font-size: 1.2rem;
    color: #18181b;
    font-weight: 600;
}

.save-btn {
    background-color: #18181b;
    color: #FFF;
    font-size: 1rem;
    width: 15rem;
    aspect-ratio: 4;
    border-radius: 0.5rem;
    align-self: end;
}