@use "@/partials/_reset";
@use "@/pages/Auth";

* {
  box-sizing: border-box;
}

:root {
  --col-accent: hsl(21, 90%, 48%);
  --col-primary-3: hsl(217, 19%, 27%);
  --col-primary-2: hsl(220, 9%, 46%);
  --col-primary-1: hsl(225, 32%, 93%);
  --col-secondary-2: hsl(240, 6%, 90%);
  --col-secondary-1: hsl(240, 10%, 95%);
  --col-light: hsl(0, 0%, 100%);
  --col-dark: hsl(0, 0%, 0%);

  --border-radius: 5px;
  --box-shadow:
    0 0 0 0 hsl(0, 0%, 0%), 0 0 0 0 hsla(0, 0%, 0%, 0),
    0 1px 2px 0 var(--col-secondary-2);
}

body {
  margin: 0;
  padding: 16px;
  line-height: 1.4;
  font-family: "Geist", sans-serif;
  background-color: var(--col-light);
}

img {
  display: block;
}

input,
button {
  font: inherit;
  padding: 7px 10px;
  border-radius: var(--border-radius);
}

input {
  border: 1px solid var(--col-secondary-2);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  display: inline-block;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
