* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
}

button {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  svg {
    vertical-align: middle;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

svg {
  display: block;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
